
 #mainSection{
    margin-left: 90px;
    margin-top: 50px;
    padding: 30px; 
    /* background-color: red; */
    display: inline-flex;
}

#leftImage {
    height:375x;
    width:300px;
    margin: 20px;
    border-radius: 25px;
    padding: 15px;
    border: #00909e 15px solid;
}
#rightImage {
    height:375x;
    width:300px;
    margin: 20px;
    border: #00909e 15px solid;
    border-radius: 25px;
    padding: 15px;
}
#centerImage {
    height:375x;
    width:300px;
    margin: 20px;
    border: #00909e 15px solid;
    border-radius: 25px;
    padding: 15px;
}

#dataStorage{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border: #ff577f 2px solid;
    float: left;
    margin-left: 200px;
    color: #2c061f;
}
#views{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border: #2c061f 2px solid;
    float: right;
    margin-right: 200px;
    color: #ff577f;
}